$tab-height: 37px;
$tab-mobile-height: 55px;
$header-height: 37px;
$header-height-with-tabs: $header-height + $tab-height;
$header-width-search: 380px;
$sidebar-width: 450px;
$footer-height: 55px;
$mobile-bottom-height: $footer-height + $tab-mobile-height;

$max-width-mobile: 870px;
$min-width-tablet: $max-width-mobile + 1px;
$max-width-tablet: 1150px;
$min-width-desktop: $max-width-tablet + 1px;

$blue: #337dff;
$blue-highlight: #80abff;
$lightblue: $blue-highlight;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $max-width-mobile) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $min-width-tablet) and (max-width: $max-width-tablet) { @content; }
  }
  @else {
    @media only screen and (min-width: $min-width-desktop) { @content; }
  }
}

$font-default: "Lato", "Helvetica Neue", "Arial", sans-serif;


h1 {
  color: $blue;
  font-weight: bold;
}

h2 {
  font-weight: lighter;
}
