{% extends 'base.html.twig' %}

{% block body %}
    <div class="splitscreen">
        <div class="left side">
            <div class="content wow fadeInRight">
                {% block leftContent %}{% endblock %}
            </div>
        </div>
        <div class="right side">
            <div class="content wow fadeInLeft">
                {% block rightContent %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
