
.listItem {
  border-bottom:1px solid gray;
  padding:10px;
  border-left:5px solid #ffbe3f;

  .title {
    font-family: "LatoWeb", "Arial";
    width:400px;
    font-size:12pt;
    margin:0;
  }
  .visited {
    color: #b6b6b6;
  }
  .description {
    color: #454545;
    margin:0;
    color: #000;
  }
  .pin {
    background-repeat:no-repeat;
    background-size:80%;
    background-position: center;
    width:20px;
    height:20px;
    position: relative;
    top:0;
    right:0;
    float:right;

    &:hover {
      .pin {
        background-image: url('/assets/images/pin_hover.png');
      }
    }
  }
  &:nth-child(even) {
    background: #f7f7f7;
    background: linear-gradient(to right,  #f7f7f7 0%,#e8e8e8 100%);
  }
  &:nth-child(odd) {
    background: #eeeeee;
    background: linear-gradient(to right, #f5f5f5 0%, #e3e3e3 100%);
  }
  &:hover {
    background-color:white;
    background: linear-gradient(to right, #f5f5f5 0%, #f4f4f4 100%);
    cursor: pointer;
    .pin {
      background-image: url('/assets/images/pin.png');
    }
  }
}

.pinned {
  .pin {
    background-image: url('/assets/images/pin_hover.png');
  }
}
.selected {
  background: linear-gradient(to right, #eeeeee 0%,#aad3e0 100%);
}
.newItem {
  background: linear-gradient(to right, #eeeeee 0%, #def6f6 100%) !important;
}



