.totalbar {
  .searchResults {
    position: fixed;
    top:30px;
    right:50px;
    width:400px;
    border:1px solid gray;
    background-color:white;
    border-radius:4px;
    opacity: 0.8;
    z-index:999;
    display:none;
    .used {
      .title {
        color:black;
      }
    }
    .jscroll-next {
      display:none;
    }
    .addToChecklist {
      border-left:5px solid black;
      padding:10px;
      background:linear-gradient(to right, #f5f5f5 0%, #e3e3e3 100%);
      border-bottom:1px solid gray;
      cursor: pointer;

      &:hover {
        background-color:white;
        background: linear-gradient(to right, #f5f5f5 0%, #f4f4f4 100%);
        cursor: pointer;
      }
    }
    .title {
      width:350px;
    }
  }
  input[type="text"] {
    position:fixed;
    top:5px;
    right:50px;
    padding:3px 10px;
    width:380px;
  }
}
