<form id="createItem" class="modal">
    <h2>Add item</h2>
    <table width="100%">
        <tr>
            <td>Url:</td>
            <td><input type="text" name="url" value="" id="inputUrl" class="w-85" />
                <input type="button" class="parseUrlButton" value="Auto" /></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td><input type="text" name="title" value="" id="addTitle" /></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><textarea name="description" id="addDescription"></textarea></td>
        </tr>
        <tr>
            <td colspan="2" class="fullRow">
                <!-- TODO: Fetching website data... -->
                <input type="button" class="submitFeedItem" value="Add" />
            </td>
        </tr>
    </table>
</form>
