<form id="createItem" class="modal">
    <h2>Add item</h2>
    <table width="600px">
        <tr>
            <td>Url:</td>
            <th><input type="text" name="url" value="http://testurl.nl" /></th>
        </tr>
        <tr>
            <td>Title:</td>
            <th><input type="text" name="title" value="testtitle" /></th>
        </tr>
        <tr>
            <td>Description:</td>
            <th><textarea name="description">testIndhou</textarea></th>
        </tr>
        <tr>
            <td colspan="2" class="fullRow">
                Fetching website data...
                <input type="button" class="submitFeedItem">Add</input>
            </td>
        </tr>
    </table>
</form>
