<form id="createItem" class="modal">
    <h2>Add item</h2>
    <table>
        <tr>
            <td>Url:</td>
            <td><input type="text" name="url" value="" /></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td><input type="text" name="title" value="" /></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><textarea name="description"></textarea></td>
        </tr>
        <tr>
            <td colspan="2" class="fullRow">
                <!-- TODO: Fetching website data... -->
                <input type="button" class="submitFeedItem" value="Add" />
            </td>
        </tr>
    </table>
</form>
