<form id="createItem" class="modal">
    <h2>Add item</h2>
    <table width="600px">
        <tr>
            <td>Url:</td>
            <th><input type="text" name="url" /></th>
        </tr>
        <tr>
            <td>Title:</td>
            <th><input type="text" name="title" /></th>
        </tr>
        <tr>
            <td>Description:</td>
            <th><textarea name="description"></textarea></th>
        </tr>
        <tr>
            <td colspan="2" class="fullRow">
                Fetching website data...
                <button>Add</button>
            </td>
        </tr>
    </table>
</form>
