{# @var forecast \Entity\WeatherForecastList #}
{% if forecast %}
    <div class="weather--current icon_{{ forecast.current.type }}">
        {{ forecast.current.temperature|number_format(0, '.', ',') }}&deg;C
    </div>

    <div class="weather--forecast">
        {% for weatherDay in  forecast.upcoming %}
            <div class="weather--forecast-day">
                <div class="weather--icon-small icon_{{ weatherDay.type }}"></div>
                <div class="max">{{ weatherDay.maxTemperature|number_format(0, '.', ',') }}&deg;C</div>
            </div>
        {% endfor %}
    </div>
{% endif %}
