<h3>Welcome to Feednews!</h3>
<p>To get started, enter a RSS feed url in the form to the right, choose a FontAwesome icon, if you want items automaticly pinned, and a color to recognise the feed. After hitting add, refresh your browser. The feed items will appear here.</p>