{
	"extends": "airbnb-base",
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"es6": true
	},
	"plugins": ["compat"],
	"ecmaFeatures": {
		"experimentalObjectRestSpread": true,
	},
	"rules": {
		"linebreak-style": 0,
		"compat/compat": 2
	}
}
