RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [NC,L,QSA]

# Prevent mobile operators like Vodafone to edit delivery of content and scripts
<IfModule mod_headers.c>
Header set Cache-Control "no-transform"
</IfModule>
