<div class="widget widget-custom-items wow slideInLeft">
    <h2>Added items</h2>
    {% for addedLinkItem in addedLinks %}
        <div class="widget-custom-item" data-url="{{ addedLinkItem.url }}">
            {{ addedLinkItem.title }} <span class="description">{{ addedLinkItem.description }}</span>
        </div>
    {% endfor %}
</div>
