{% extends "multi-tab-view.html.twig" %}

{% block title %}{{ parent() }} - Settings{% endblock %}
{% block headerTitle %}Settings{% endblock %}

{% block tabs %}
    <span class="js-homepage-showpage active" data-page="feeds">Feeds</span>
    <span class="js-homepage-showpage" data-page="preferences">Preferences</span>
    {% if isAdmin %}<span class="js-homepage-showpage" data-page="admin">Admin</span>{% endif %}
{% endblock %}

{% block content %}
    <div class="page--settings">
        <div class="view active-view feeds">
            {% include 'settings/feeds.html.twig' %}
        </div>
        <div class="view preferences">
            {% include 'settings/preferences.html.twig' %}
        </div>
        <div class="view admin">
            {% include 'settings/admin.html.twig' %}
        </div>
    </div>
    {% include 'modals/choose-icon.html.twig' %}
{% endblock %}
