<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/scripts/jquery.js"></script>
    <script src='/assets/scripts/main.js'></script>
    {% block header %}{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
