<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src='/assets/scripts/main.js'></script>
    <!-- <meta http-equiv="refresh" content="1"> -->
</head>
<body>
<div class="topbar">
    Peter van Dam's homepage
</div>

<div class="mainContent">
    {% block content %}

    {% endblock %}

    <div class="list">
        <div class="listItem" data-url="https://www.neowin.net/news/microsoft-has-run-out-of-lumia-950-stock-in-the-uk">
            <p class="listTitle">Title of newsitem that has been imported from a feed</p>
            <p class="listContent">A small description for around a few lines that shortly explains the content of the item for the user to make up it's mind if the article is interesting enough to click</p>
        </div>
        <div class="listItem" data-url="https://www.neowin.net/news/opera-41-introduces-faster-tab-startup-more-efficient-video-processing">
            <p class="listTitle">Title of newsitem that has been imported from a feed</p>
            <p class="listContent">A small description for around a few lines that shortly explains the content of the item for the user to make up it's mind if the article is interesting enough to click</p>
        </div>
        <div class="listItem" data-url="http://www.geenstijl.nl/mt/archieven/2016/10/mh17_live_kabinet_reageert_op.html">
            <p class="listTitle">Title of newsitem that has been imported from a feed</p>
            <p class="listContent">A small description for around a few lines that shortly explains the content of the item for the user to make up it's mind if the article is interesting enough to click</p>
        </div>
        <div class="listItem visited" data-url="">
            <p class="listTitle">Title of newsitem that has been imported from a feed</p>
            <p class="listContent">A small description for around a few lines that shortly explains the content of the item for the user to make up it's mind if the article is interesting enough to click</p>
        </div>
        <div class="listItem visited" data-url="">
            <p class="listTitle">Title of newsitem that has been imported from a feed</p>
            <p class="listContent">A small description for around a few lines that shortly explains the content of the item for the user to make up it's mind if the article is interesting enough to click</p>
        </div>
        <div class="listItem visited" data-url="">
            <p class="listTitle">Title of newsitem that has been imported from a feed</p>
            <p class="listContent">A small description for around a few lines that shortly explains the content of the item for the user to make up it's mind if the article is interesting enough to click</p>
        </div>
        <div class="listItem" data-url="">
            <p class="listTitle">Title of newsitem that has been imported from a feed</p>
            <p class="listContent">A small description for around a few lines that shortly explains the content of the item for the user to make up it's mind if the article is interesting enough to click</p>
        </div>
        <div class="listItem visited" data-url="">
            <p class="listTitle">Title of newsitem that has been imported from a feed</p>
            <p class="listContent">A small description for around a few lines that shortly explains the content of the item for the user to make up it's mind if the article is interesting enough to click</p>
        </div>
    </div>
    <div class="contentContainer">
        <iframe src="welcome.php" sandbox="allow-scripts allow-same-origin"></iframe>
    </div>
</div>
</body>
</html>
