<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="/assets/scripts/jquery.js"></script>
    <script src="/assets/scripts/jquery.modal.min.js" type="text/javascript" charset="utf-8"></script>
    <script src='/assets/scripts/main.js'></script>
    <link rel="stylesheet" href="/assets/css/jquery.modal.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/css/style.css">
    {% block header %}{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
