.widget--checklist {
  width: 29%;

  .checklist li:nth-child(even) {
    background: transparent;
  }

  .checklist label {
    padding: 0;
  }

  .checklist--form {
    margin-left: 10px;
  }

  .checklist--form input {
    font-size: 9pt;
  }

  .checklist--form input[type=text] {
    background: rgba(0, 0, 0, 0.1);
    border: 0;
  }

  .done {
    display: none;
  }

  .checklist--list h2 {
    display: none;
  }
}
.checklist-widget {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  .widget--checklist {
    width: 30vw;
    height: auto;
  }
}
