{% extends "base.html.twig" %}

{% block title %}Homepage - Offline{% endblock %}

{% block body %}
    <h1>Homepage currently not available</h1>
    <p>Please check your internet connection, because your device cannot connect with Homepage at this moment.</p>
{% endblock %}
