<div class="mobile-search">
    <input type="search" placeholder="Search feeds" class="js-search-feed" autocomplete="off" />
</div>
<div style="display: none;" class="js-search-list feed-list feed-list--type-search hide-if-tablet hide-if-desktop mobile-search--results"></div>

<footer class="footer--bar hide-if-tablet hide-if-desktop">

    <div class="defaultView">
        <div class="grid-container">
            <div class="first">
                <span class="js-open-url footer--bar-weather-icon" data-url="/weather/mobile-page/">{% include 'weather/icon.html.twig' %}</span>
            </div>
            <div class="other">
                <span data-modal-target=".js-form-feed" class="js-modal-trigger fa fa-file fa-x4"></span>
                <span data-url="/checklist/" class="js-open-url fa fa-check fa-x4"></span>
                {% if not app.request.server.get("DROP_LOCATION") == null and isAdmin  %}
                    <span class="fa fa-inbox js-open-url" data-url="/droplist/15"></span>
                {% endif %}
                <span data-modal-target=".js-mobile-search-button" class="js-visbility-toggle fa fa-search-plus fa-x4 hide-if-desktop hide-if-tablet" data-target=".mobile-search"></span>
            </div>
        </div>

    </div>

    <div class="pageView">
        <div class="grid-container">
            <div class="first">
                <span class="fa fa-chevron-circle-left js-return"> Back</span>
            </div>
            <div class="other">
                <span class="js-open-new-window fa fa-external-link-alt fa-x4"></span>
                <span class="js-copy-to-clipboard fa fa-share-square fa-x4" data-clipboard-action="copy" data-clipboard-text="http://feednews.me"></span>
            </div>
        </div>

    </div>
</footer>
