.pageOpen {
  @include respond-to(mobile) {
    aside, .mobile-search {
      display: none !important;
    }
    .content {
      display: block !important;
    }
  }
}
.Homepage {

  .content-overlay {
    display: none;
    position: fixed;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(256, 256, 256, 0.5);
    z-index: 5;
  }

  header {
    positioin: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
  }
  .profileMenu {
    display:none;
  }
  aside {
    position: fixed;
    top: $header-height;
    left: 0;
    width: $sidebar-width;
    bottom: 0;
    overflow-y: auto;

    @include respond-to(tablet) {
      width: 35%;
    }

    @include respond-to(mobile) {
      width: 100%;
      bottom: $footer-height;
    }
  }
  .content {
    position: fixed;
    top: $header-height;
    right: 0;
    bottom: 0;
    left: $sidebar-width;

    @include respond-to(tablet) {
      left: 35%;
    }

    @include respond-to(mobile) {
      display: none;
      left: 0;
      bottom: $footer-height;
    }

    .content-frame {
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
  .mobile-search {
    display: none;
  }
  .footer--bar {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: $footer-height;

    @include respond-to(mobile) {
      display: block;
    }
  }
}