.page--settings {

  a {
    color: $blue;
  }

  .settingsContainer {
    margin:auto;
    padding: 20px 10% 20px 10%;
    position: fixed;
    top: 20vh;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }

  .forms, .userFeeds {
    display: block;
    clear: both;
  }

  .form {
    border: 1px solid $blue;
    border-radius: 15px;
    padding: 10px;
    width: 350px;
    box-sizing: border-box;
    margin: 0 20px 50px 0;
    display: inline-block;
    height: 284px;
    float: left;

    h1 {
      color: $blue;
      font-weight: lighter;
      margin: 10px 0 0 0;
      border: 0;
      padding: 0;
    }

    input {
      font-size: 12pt;
      margin-bottom: 20px;
    }

    input[type=text], select {
      border: 0;
      border-bottom: 1px solid $blue;
      padding: 3px;
      width:300px;
      margin-bottom: 20px;
      display: inline-block;
    }

    .websiteurl {
      width: 286px !important;
    }

    input[type=submit] {
      background-color: $blue;
      border: 0;
      border-radius: 15px;
      padding: 10px 30px;
      color: white;
      margin-top: -40px;
      margin-right: 10px;
      float: right;

      &:hover {
        background-color: $blue-highlight;
        cursor: pointer;
      }
    }
  }

  table {
    width: 100%;
    margin-bottom: 50px;
    border-spacing: 0;

    td {
      margin: 0;
      padding: 5px 10px;
    }

    tr:nth-child(even) {

      td:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
      td:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      background-color: rgba(215, 215, 215, 0.8);
    }

    tr:nth-child(odd) {
      background-color: rgba(256, 256, 256, 0.9);
    }

    tr:hover {
      background-color: rgba(127, 182, 255, 0.4);

      td:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
      td:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }

    .removed {
      opacity: 0.2;
    }

    .feedColor {
      width: 1%;

      span {
        width: 10px;
        height: 10px;
        display: block;
        border-radius: 2px;
      }
    }

    .feedName {
      width: 78%;
      font-size: 12pt;
      padding: 8px;
    }

    .feedUrl {
      color: gray;
      font-style:italic;
      overflow:hidden;
      overflow-wrap: break-word;
      max-width:400px;
      white-space:nowrap;
      text-overflow: ellipsis;
    }

    .feedAmount {
      width: 10%;
      text-align: right;
    }

    .feedLastUpdate {
      width: 10%;
      text-align: right;
      white-space: nowrap;
    }

    .feedActions {
      width: 10%;
      text-align: right;
      white-space: nowrap;
    }
  }

  .admin {
    table {
      th {
        text-align: left;
        padding: 0 10px;
      }
    }
  }
}
