.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 500px;
  margin-top: -200px;
  margin-left: -250px;
  border: 1px solid $blue;
  z-index: 9999;
  border-radius: 15px;
  display: none;

  input, textarea, button {
    border-radius: 15px;
  }

  button, .button {
    background-color: $blue;
    color: white;
    border: 0;
    padding: 10px 30px;
    margin: 50px 0 10px 0;
    border-radius: 50px;
    display: inline-block;

    &:hover {
      transition: all 200ms ease;
      cursor: pointer;
    }
  }

  .smallButton {
    margin: 0;
    padding: 5px 20px;
  }

  table td {
    vertical-align: top;
    white-space: nowrap;

    input[type="text"], textarea {
      box-sizing: border-box;
      width: 100%;
      border: 1px solid whitesmoke;
      padding: 5px 10px;

      &.w-85 {
        width: 75%;
      }
    }
  }

  h2 {
    color: $blue;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 12pt;
    overflow-x: hidden;
  }

  .fluid {
    text-align: right;
  }
}
