#mobile {
  .topbar {
    right:0;
    left:0;
    top:0;
    position:fixed;
  }
  .list {
    width:100%;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }
  .listTitle {
    font-size:10pt;
  }
  .listContent {
    font-size:8pt;
  }
  .contentContainer {
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    -webkit-overflow-scrolling:touch;
  }
  .backButton {
    display:none;
    width:60px;
  }
  .searchButton {
    position:absolute;
    height:28px;
    width:28px;
    font-size:16pt;
    display:inline-block;
    right:50px;
    top:3px;
  }
  .pageLinkToUrl {
    display:none;

  }
  .navbar {
    position:absolute;
    top:9px;
    left:100px;
    right:100px;
    overflow:hidden;
    margin-left:0;
    max-height:20px;
    white-space: nowrap;
    display:none;
  }
  .mobilePin {
    background-image: url('../images/pin.png');
    background-size:contain;
    height:15px;
    width:15px;
    display:inline-block;
    margin-left:10px;
  }
  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .searchbar input {
    width:100%;
    padding:10px;
    font-size:12pt;
  }
  .jscroll-next {
    display:none;
  }
  .searchview {
    display:none;
  }
}
