{% extends 'base.html.twig' %}

{% block header %}
    <link rel="stylesheet" href="/assets/css/weather.css">
{% endblock %}

{% block body %}
    <div class="welcomePage">
        <div class="weatherContent">
            Loading weatherinfo...
        </div>
        <div class="feedCounter">
            {% for item in feedItemTotals %}
                <div class="feedCounterItem">{{ item.site }}: <span class="itemCount">{{ item.count }}</span></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
