{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="/assets/css/weather.css">
    <div class="welcomePage">
        <h1>Welkom</h1>
        <div id="weatherIcon">
            <div class="icon sun-shower">
                <div class="cloud"></div>
                <div class="sun">
                    <div class="rays"></div>
                </div>
                <div class="rain"></div>
            </div>
        </div>
        <p>Het word 4 graden</p>
    </div>
{% endblock %}
