.container {
  position: absolute;
  top: $header-height;
  right: 0;
  bottom: 0;
  left: 0;

  @include respond-to('mobile') {
    top:0;
    bottom:0;
  }

  &--container-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(256, 256, 256, 0.5);
    z-index: 700;
    display: none;
    backdrop-filter: blur(10px);
  }

  .urlbar {
    display: none;
    position: absolute;
    bottom: 0;
    left: $sidebar-width;
    right: 0;
    box-sizing: border-box;
    background-color: $blue;
    padding: 6px 10px;
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}
