.screenshot-list {
  position: absolute;
  top: 23px;
  right: 285px;
  display: inline-block;
  width: 300px;
  border: 1px solid gray;
  background-color: #f5f5f5;
  border-radius: 3px;
  z-index: 1999;
  max-height: 80vh;
  overflow-y: scroll;
  box-shadow: 1px 1px 5px #000;

  &--image {
    height:200px;
    width: 300px;
    background-position: center center;
    background-size:cover;
    background-repeat:no-repeat;
    background-color:whitesmoke;
    box-sizing: border-box;
    border-bottom:1px solid black;

    &-container {
      display: none;
    }
  }

  &--image:hover {
    .screenshot-list--image-container {
      height:200px;
      width:300px;
      background-color: rgba(107, 193, 103, 0.7);
      display:block;
    }

    .screenshot-list--image-buttons:hover {
      text-align:center;
      padding-top:90px;
    }

    i {
      padding:0 10px;
    }
  }
}
