.widget {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 50%;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  float: left;
  display: none;

  h2 {
    margin: 0 0 0 10px;
    font-weight: 100;
  }
}
