<?php

(new Raven_Client('https://7198498aafe4456eabd52f2568790ba0:463e1380422c4357a8ff3ef1628c319a@sentry.io/197110'))->install();

$app['debug'] = true;

$app['config'] = [
    'database' => [
        'driver' => 'pdo_mysql',
        'host' => 'localhost',
        'username' => '',
        'password' => '',
        'database' => 'homepage'
    ],
    'twig' => [
        'viewPath' => __DIR__ . '/../views',
        'cachePath' => __DIR__ . '/../var/cache/twig'
    ],
    'openWeatherMap' => [
        'key' => 'APPID',
        'location' => 'Eindhoven,NL',
    ],
    'wallpaperLocations' => [
        'public' => 'https://source.unsplash.com/category/nature/1920x1080',
        'private' => '[ENTER_AN_URL_TO_SHOW_OF_LOCAL_STORED_IMAGES]'
    ],
    'droplocation' => '[ENTER_URL]', // this url should return an array with images as path
];

$app['weather.adapter'] = $app['debug']
    ? \Service\Adapter\Weather\Dummy::class
    : \Service\Adapter\Weather\OpenWeatherMap::class;

$cache = new Memcached();
$cache->addServer('localhost', 11211);
$app['cache'] = $cache;
