<?php

$app['debug'] = true;

$app['config'] = [
    'database' => [
        'driver' => 'pdo_mysql',
        'host' => 'localhost',
        'username' => '',
        'password' => '',
        'database' => 'homepage'
    ],
    'twig' => [
        'viewPath' => __DIR__ . '/../views',
        'cachePath' => __DIR__ . '/../var/cache/twig'
    ],
    'openWeatherMap' => [
        'key' => '1136b45e2af4fde1cd9cd208ef17cb37',
        'location' => 'Eindhoven,NL',
    ],
];

$app['users'] = [
    'peter' => 'plex8432'
];

$app['feed.adapters'] = [
    'neowin' => \Service\Adapter\Feed\NeowinAdapter::class,
    'nuTech' => \Service\Adapter\Feed\NuTechAdapter::class,
    'Artiestennieuws' => \Service\Adapter\Feed\ArtiestennieuwsAdapter::class,
    'Geenstijl' => \Service\Adapter\Feed\GeenstijlAdapter::class,
    'Gamersnet' => \Service\Adapter\Feed\GamersnetAdapter::class,
    'iDownloadBlog' => \Service\Adapter\Feed\IdownloadblogAdapter::class,
    'MajorNelson' => \Service\Adapter\Feed\MajorNelsonAdapter::class,
    'RTLnieuws' => \Service\Adapter\Feed\RTLnieuwsAdapter::class,
    'Dumpert' => \Service\Adapter\Feed\DumpertAdapter::class,
];

$app['weather.adapter'] = \Service\Adapter\Weather\OpenWeatherMap::class;
