{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Settings{% endblock %}

{% block body %}
    <div class="page--settings">
        <div class="page--settings-background"></div>
        <div class="page--settings-background--overlay"></div>

        <header>
            <h1>Settings</h1>
            <div class="weather">
                {% include 'widgets/weather.html.twig' %}
            </div>
        </header>

        <div class="settingsContainer">
            {% include 'settings/feeds.html.twig' %}
        </div>

    </div>
{% endblock %}
