<h1>Preferences</h1>
<p>Use the settings below to change how Feednews behaves on your account</p>

<div style="border: 1px solid #337dff; border-radius: 15px; padding: 0 20px; margin: 30px 0;">
    <h2>Under construction</h2>
    <h4>This preferences page is still under constructions. So none of the settings below can be changed just yet. Please come back soon!</h4>
</div>


<h2>User interface</h2>
<table class="preferences">
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td>Default:</td>
        </tr>
        <tr>
            <td>Feeditem background color</td>
            <td>
                <input type="radio" name="theme" value="auto" id="theme_auto" checked="checked" /> <label for="theme_auto">Auto</label>
                <input type="radio" name="theme" value="light" id="theme_light" /> <label for="theme_light">Light</label>
                <input type="radio" name="theme" value="dark" id="theme_dark" /> <label for="theme_dark">Dark</label>
            </td>
            <td>Auto</td>
        </tr>
        <tr>
            <td>Wallpapers</td>
            <td>
                <input type="radio" name="wallpaper" value="dynamic" id="wallpaper_dynamic" checked="checked" /> <label for="wallpaper_dynamic">Dynamic</label>
                <input type="radio" name="wallpaper" value="static" id="wallpaper_static" /> <label for="wallpaper_static">Static</label>
            </td>
            <td>
                Dynamic
            </td>
        </tr>
        <tr>
            <td>Username</td>
            <td>
                <input type="radio" name="username" value="caps" id="username_cap" checked="checked" /> <label for="username_cap">Capitalized</label>
                <input type="radio" name="username" value="low" id="username_low" /> <label for="username_low">Lowercase</label>
            </td>
            <td>
                Capitalized
            </td>
        </tr>
    </tbody>
</table>

<h2>Weather settings</h2>
<table class="preferences">
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td>Default:</td>
        </tr>
        <tr>
            <td>Weather forecasts</td>
            <td>
                <input type="radio" name="forecast" value="caps" id="forecast_show" checked="checked" /> <label for="forecast_show">Show</label>
                <input type="radio" name="forecast" value="low" id="forecast_hide" /> <label for="forecast_hide">Hide</label>
            </td>
            <td>
                Show
            </td>
        </tr>
        <tr>
            <td>Location (City, country)</td>
            <td>
                <select title="location" name="location">
                    <option>Eindhoven,NL</option>
                    {% include 'settings/components/cities.html.twig' %}
                </select>
            </td>
            <td>Eindhoven,NL</td>
        </tr>
        <tr>
            <td>Metric</td>
            <td>
                <input type="radio" name="metric" value="celcius" id="metric_c" checked="checked" /> <label for="metric_c">Celcius</label>
                <input type="radio" name="metric" value="fahrenheit" id="metric_f" /> <label for="forecast_hide">Fahrenheit</label>
            </td>
            <td>
                Celcius
            </td>
        </tr>
    </tbody>
</table>

<h2>Mobile settings</h2>
<table class="preferences">
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td>Default:</td>
        </tr>
        <tr>
            <td>
                Try open items within Feednews (Recommended)<br />
                <small><em>Disable if opening items fails on mobile or tablet</em></small>
            </td>
            <td>
                <input type="radio" name="headercheck" value="true" id="header_check_true" checked="checked" /> <label for="header_check_true">Yes</label>
                <input type="radio" name="headercheck" value="false" id="header_check_false" /> <label for="header_check_false">No</label>
            </td>
            <td>
                Yes
            </td>
        </tr>
        <tr>
            <td>Data usage mode</td>
            <td>
                <input type="radio" name="data_usage" value="full" id="data_usage_full" checked="checked" /> <label for="data_usage_full">Full (best experience)</label><br />
                <input type="radio" name="data_usage" value="medium" id="data_usage_medium" /> <label for="data_usage_medium">Medium (include static cached backgrounds)</label><br />
                <input type="radio" name="data_usage" value="low" id="data_usage_low" /> <label for="data_usage_low">Low (limit resources as much as possible)</label><br />
            </td>
            <td>Full</td>
        </tr>
    </tbody>
</table>