{% extends "base.html.twig" %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="topbar wow slideInDown">
        <div class="title"><a href="javascript:requestNewFeedItems();openWelcomePage();">Peter van Dam's Homepage</a></div>
        <div class="navbar"><a href="#" class="pageLinkToUrl" target="_blank"></a></div>
        <div class="totalbar">
            <div class="showDropList"><i class="fa fa-dropbox"></i></div>
            <div class="dropListPanel"></div>
            <input class="searchBox" type="text" name="q" placeholder="Search feeds or add items to checklist" autocomplete="off" />
            <div class="searchResults"></div>
            <div class="createButton"><i class="fa fa-file-text-o fa-x4"></i></div>
        </div>
    </div>

    <div class="dropListBackground"></div>

    <div class="mainContent">
        {% block content %}
        {% endblock %}

        <div class="list scroll wow slideInLeft">
            {% include 'home/newsfeed.html.twig' with {'feedItems': feedItems, 'addToChecklist': ''} %}
        </div>
        <div class="contentContainer">
            <iframe src="/welcome" sandbox="allow-scripts allow-same-origin allow-forms allow-popups
            allow-pointer-lock allow-modals"></iframe>
        </div>
    </div>

    {% include 'modals/create.html.twig' %}
{% endblock %}
