{% extends "base.html.twig" %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <header class="header--bar hide-if-mobile">
        <div class="header--bar-site">
            <div class="title">
                <a href="/" class="title--back noselect js-return"><span class="fa fa-chevron-circle-left"></span></a>
                <a href="/" class="js-reload-page">Peter van Dam's Homepage</a>
            </div>
        </div>
        <div class="header--bar-navigation hide-if-tablet hide-if-mobile">
            <a href="#" target="_blank"></a>
        </div>
        <div class="header--bar-actions">

            {% if not device.isMobile %}
                <div class="js-update-weather-icon header--bar-weather-icon">{% include 'weather/icon.html.twig' %}</div>
                <div class="js-show-weather-radar header--bar-weather-radar"><img class="js-weather-radar" src="https://api.buienradar.nl/image/1.0/RadarMapNL?w=500&h=512" /></div>
            {% endif %}

            <span style="display:none;" class="js-open-new-window fa fa-external-link fa-x4"></span>
            <span style="display:none;" class="js-copy-to-clipboard fa fa-share-square-o fa-x4" data-clipboard-action="copy" data-clipboard-text="#"></span>

            <span class="fa fa-dropbox js-toggle hide-if-mobile" data-toggle-element=".screenshot-list"></span>
            <span data-url="/checklist/" class="js-open-url fa fa-check fa-x4 hide-if-mobile"></span>
            <span data-modal-target=".js-form-feed" class="js-modal-trigger fa fa-file-text-o fa-x4 hide-if-mobile"></span>

            <div class="action-search--wrapper hide-if-mobile">
                <input class="js-search-feed" type="text" name="q" placeholder="Search feeds or add items to checklist" autocomplete="off" />
                <div style="display: none;" class="js-search-list feed-list feed-list--type-search"></div>
            </div>
            <div style="display: none;" class="screenshot-list js-screenshot-list" data-target="/droplist/"></div>
        </div>
    </header>
    (bootloader) < Please cut following message >
    (bootloader) <<<< Identifier Token Start >>>>
    (bootloader) 12CD5F4CB14D4D19E08F2514599E49CF
    (bootloader) 00D1C0400BFCC4B55B51306EAF8E967C
    (bootloader) 5645893001BCA99E3AC78BCF0AC5EDA3
    (bootloader) C4F01A473F924AA34911A4EBE975C1DB
    (bootloader) 8CDA8DDE1F90BA0AC1CFB8E6895A7BAF
    (bootloader) A1870D7F8D30D9DF1DC7B04D6F3C5C2E
    (bootloader) 507EED3F38F1C182DA7BF2C9CE25AC15
    (bootloader) AD723463B76F19C2D86F4874DA4DE387
    (bootloader) F979E28F3F79FDC2F9F990723C13620F
    (bootloader) 8DECF00B9D80126D4DABDAC3F50302F9
    (bootloader) 902C89524B20C8C25CBC9996EF26A31A
    (bootloader) E2762A9AF97DA9CB95921B912ADDD75D
    (bootloader) 4A1D6EC5C5665091FB44F8BDDC2A5664
    (bootloader) E3C5BB4B2D5555CDDC62174B2B0486B3
    (bootloader) B05B4BCA19BA08C563BC10D0733C83A9
    (bootloader) 528F63FF99A9C228F87B9560008F3ABF
    (bootloader) <<<<< Identifier Token End >>>>>
    <section class="container">
        {% block content %}{% endblock %}

        <aside class="feed-list feed-list--type-sidebar wow slideInLeft">
            {% include 'home/newsfeed.html.twig' with {'feedItems': feedItems, 'addToChecklist': '', 'feeds': feeds} %}
        </aside>

        <div class="content">
            <div class="content-overlay"></div>

            <iframe class="content-frame" src="/welcome" sandbox="allow-scripts allow-same-origin allow-forms allow-popups
            allow-pointer-lock allow-modals"></iframe>
        </div>
    </section>

    <div class="mobile-search">
        <input type="search" placeholder="Search feeds" class="js-search-feed" autocomplete="off" />
    </div>
    <div style="display: none;" class="js-search-list feed-list feed-list--type-search hide-if-tablet hide-if-desktop mobile-search--results"></div>

    <footer class="footer--bar hide-if-tablet hide-if-desktop">
        <span data-modal-target=".js-form-feed" class="js-modal-trigger fa fa-file-text-o fa-x4"></span>
        <span data-url="/checklist/" class="js-open-url fa fa-check fa-x4"></span>
        <span class="fa fa-dropbox js-open-url" data-url="/droplist/15"></span>
        <span data-modal-target=".js-mobile-search-button" class="js-visbility-toggle fa fa-search-plus fa-x4 hide-if-desktop hide-if-tablet" data-target=".mobile-search"></span>
    </footer>

    {% include 'modals/create.html.twig' %}
{% endblock %}
