{% extends "base.html.twig" %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <header class="header--bar">
        <div class="header--bar-site">
            <div class="title">
                <a href="/" class="title--back noselect js-return">&lt; Back</a>
                <a href="/" class="js-reload-page">Peter van Dam's Homepage</a>
            </div>
        </div>
        <div class="header--bar-navigation">
            <a href="#" class="pageLinkToUrl" target="_blank"></a>
        </div>
        <div class="header--bar-actions">

            <span class="fa fa-dropbox js-toggle hide-if-tablet hide-if-mobile" data-toggle-element=".screenshot-list"></span>
            <span class="fa fa-dropbox js-open-url hide-if-desktop" data-url="/droplist/15"></span>

            <span data-url="/checklist/" class="js-open-url fa fa-check fa-x4"></span>
            <span data-modal-target=".js-form-feed" class="js-modal-trigger fa fa-file-text-o fa-x4"></span>

            {# TODO: <span data-modal-target=".js-mobile-search-button" class="js-toggle fa fa-search-plus fa-x4 hide-if-desktop hide-if-tablet" data-toggle-element=".mobile-search"></span> #}

            <div class="action-search--wrapper hide-if-mobile">
                <input class="js-search-feed" type="text" name="q" placeholder="Search feeds or add items to checklist" autocomplete="off" />
                <div style="display: none;" class="js-search-list feed-list feed-list--type-search"></div>
            </div>

            <div style="display: none;" class="screenshot-list js-screenshot-list" data-target="/droplist/"'></div>
        </div>
    </header>
    <section class="container">
        {% block content %}{% endblock %}

        <aside class="feed-list feed-list--type-sidebar wow slideInLeft">
            {% include 'home/newsfeed.html.twig' with {'feedItems': feedItems, 'addToChecklist': '', 'feeds': feeds} %}
        </aside>

        <div class="content">
            <div class="content-overlay"></div>

            <iframe class="content-frame" src="/welcome" sandbox="allow-scripts allow-same-origin allow-forms allow-popups
            allow-pointer-lock allow-modals"></iframe>
        </div>
    </section>

    {% include 'modals/create.html.twig' %}
{% endblock %}
