{% extends "base.html.twig" %}

{% block title %}Homepage{% endblock %}

{% block body %}
<div class="topbar">Peter van Dam's Homepage</div>

<div class="mainContent">
    {% block content %}
    {% endblock %}

    {% include 'home/newsfeed.html.twig' with {'feedItems': feedItems} %}
    <div class="contentContainer">
        <iframe src="/welcome" sandbox="allow-scripts allow-same-origin allow-forms allow-popups allow-pointer-lock"></iframe>
    </div>
</div>
{% endblock %}


