{% extends "base.html.twig" %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="topbar">
        <div class="title"><a href="javascript:requestNewFeedItems();openWelcomePage();">Peter van Dam's Homepage</a></div>
        <div class="navbar"><a href="#" class="pageLinkToUrl" target="_blank"></a></div>
        <div class="totalbar">
            <input class="searchBox" type="text" name="q" placeholder="Search feeds or add items to checklist" autocomplete="off" />
            <div class="searchResults">
                <div class="listItem used AngryJoe"
                     data-url="http://angryjoeshow.com/2015/07/rocket-league-review/">
                    <div class="pin" data-pin-id="2299"></div>
                    <p class="listTitle">Rocket League Review</p>
                    <p class="listContent">AngryJoe and OtherJoe Review Rocket League and find out that the game is definitely better and safer than playing in real...</p>
                </div>
                <div class="listItem used AngryJoe"
                     data-url="http://angryjoeshow.com/2015/07/rocket-league-review/">
                    <div class="pin" data-pin-id="2299"></div>
                    <p class="listTitle">Rocket League Review</p>
                    <p class="listContent">AngryJoe and OtherJoe Review Rocket League and find out that the game is definitely better and safer than playing in real...</p>
                </div>
                <div class="listItem used AngryJoe"
                     data-url="http://angryjoeshow.com/2015/07/rocket-league-review/">
                    <div class="pin" data-pin-id="2299"></div>
                    <p class="listTitle">Rocket League Review</p>
                    <p class="listContent">AngryJoe and OtherJoe Review Rocket League and find out that the game is definitely better and safer than playing in real...</p>
                </div>
                <div class="listItem used AngryJoe"
                     data-url="http://angryjoeshow.com/2015/07/rocket-league-review/">
                    <div class="pin" data-pin-id="2299"></div>
                    <p class="listTitle">Rocket League Review</p>
                    <p class="listContent">AngryJoe and OtherJoe Review Rocket League and find out that the game is definitely better and safer than playing in real...</p>
                </div>
            </div>
            <div class="createButton"></div>
        </div>
    </div>

    <div class="mainContent">
        {% block content %}
        {% endblock %}

        {% include 'home/newsfeed.html.twig' with {'feedItems': feedItems, 'addToChecklist': ''} %}
        <div class="contentContainer">
            <iframe src="/welcome" sandbox="allow-scripts allow-same-origin allow-forms allow-popups
            allow-pointer-lock allow-modals"></iframe>
        </div>
    </div>

    {% include 'modals/create.html.twig' %}
{% endblock %}
