<div class="list">

    {{ dump(feeditems) }}

    {% for item in feeditems %}

        <div class="listItem" data-url="{{ item.url }}">
            <p class="listTitle">{{ item.title }}</p>
            <p class="listContent">{{ item.description }}</p>
        </div>

    {% endfor %}

</div>
