{% extends 'base.html.twig' %}

{% block header %}
    <title>Article has no url</title>
{% endblock %}

{% block body %}
    <h1>Article page cannot be opened</h1>
    <p>The selected item has no url so the page that comes with the article cannot be opened.</p>
{% endblock %}
