.topbar {
    right:0;
    left:0;
    position:fixed;
}
.list {
    width:100%;
}
.listTitle {
    font-size:10pt;
}
.listContent {
    font-size:8pt;
}
.contentContainer {
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
}
.backButton {
    display:none;
    width:60px;
}
.shareButton {
    display:none;
    max-width:100px;
    overflow:hidden;
}
.pageLinkToUrl {
    display:none;

}
.navbar {
    max-width:200px;
    overflow:hidden;
    float:right;
    width:200px;
    margin-left:0;
    max-height:20px;
}

.mobilePin {
    background-image: url('../images/pin.png');
    background-size:contain;
    height:15px;
    width:15px;
    display:inline-block;
    margin-left:10px;
}

/* Hide incompatible entries, Apple can't create decent software that works */
.RTLnieuws, .Dumpert {
    display:none;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
