.topbar {
    right:0;
    left:0;
    position:fixed;
}
.list {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    width:100%;
}
.listTitle {
    font-size:10pt;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.listContent {
    font-size:8pt;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.listItem {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.contentContainer {
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
}
.backButton {
    display:none;
    width:100px;
}
.shareButton {
    display:none;
    max-width:100px;
    overflow:hidden;
}
.pageLinkToUrl {
    display:none;

}
.navbar {
    max-width:230px;
    overflow:hidden;
    float:right;
    width:230px;
    margin-left:0;
    max-height:20px;
}

/* Hide incompatible entries, Apple can't create decent software that works */
.RTLnieuws, .Dumpert {
    display:none;
}
