.feed-list {
  width: $sidebar-width;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  backdrop-filter: blur(10px);
  color: black;
  background: #f7f7f7;

  @include respond-to(mobile) {
    width: 100%;
  }

  @include respond-to(tablet) {
    width: 100%;
  }

  &--separator {
    padding: 10px;
    text-align: center;
    border-left: 5px solid lightgray;
    color: $blue;
  }

  &--type-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  &--type-search {
    position: fixed;
    z-index: 1000;
    width: $header-width-search;
    margin-top: 4px;
    opacity: 0.8;
    border-radius: 15px;
  }

  .jscroll-next {
    display: none;
  }

  .noFeedItems {
    padding: 10px;
  }
}

.feed-list-item {
  padding: 10px;
  border-left: 5px solid #ffbe3f;
  position: relative;

  &:nth-child(odd) {
    background: rgba(123, 123, 123, 0.05);
  }

  &:hover {
    background-color: rgba(256, 256, 256, 0.6);
    cursor: pointer;
    .pin {
      visibility: visible;
      color: red;
    }
    .pip {
      visibility: visible;
      :hover {
        color: red;
      }
    }
  }

  &--state-button {
    border-left: 5px solid black;
    padding: 10px;
    background: linear-gradient(to right, #f5f5f5 0%, #e3e3e3 100%);
    border-bottom: 1px solid gray;
    cursor: pointer;

    &:hover {
      background-color: white;
      background: linear-gradient(to right, #f5f5f5 0%, #f4f4f4 100%);
      cursor: pointer;
    }
  }

  &--state-pinned {
    .pin {
      visibility: visible !important;
      transform: rotate(45deg);
    }
  }

  &--state-selected {
    background: linear-gradient(to right, #eeeeee 0%, #aad3e0 100%);
  }

  .title {
    font-family: "Lato", "Arial";
    font-weight: 400;
    width: 93%;
    font-size: 12pt;
    margin: 0;
  }

  .description {
    color: #454545;
    margin: 0;
    color: #000;
  }

  .pin {
    color: black;
    visibility: hidden;
    width: 20px;
    height: 20px;
    position: relative;
    top: 0;
    right: 0;
    float: right;
    font-size: 12pt;
  }

  .pip {
    color: #c5c5c5;
    visibility: hidden;
    width: 20px;
    height: 20px;
    position: relative;
    top: -2px;
    right: 3px;
    float: right;
    font-size: 12pt;
  }

  .feed-icon {
    position: absolute;
    box-sizing: border-box;
    top: 13px;
    left: 5px;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50px;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.hasIcon {
  padding-left: 50px;
}

.darkTheme {
  color: #a2a2a2;
  &.feed-list {
    color: #828282;
    background-color: #1a1a1a;
  }
  .description {
    color: #828282;
  }
  .feed-list-item:hover {
    color: white;

    .description {
      color: #cccccc;
    }
  }
  .page--homepage-background--overlay {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .weather--temperature, .weather--content, textarea, input {
    color: #cccccc;
  }

  .weather--icon-small {
    filter: invert(100%);
  }

  .pin {
    color: #a2a2a2;
  }
}
