.modal {
  display: none;
  margin: -70vh auto;
  border-radius: 15px;

  input, textarea, button {
    border-radius: 15px;
  }

  button {
    background-color: $blue;
    color: white;
    border: 0;
    padding: 5px 10px;
  }

  table td {
    vertical-align: top;
    white-space: nowrap;

    input[type="text"], textarea {
      box-sizing: border-box;
      width: 100%;
      border: 1px solid whitesmoke;
      padding: 5px 10px;

      &.w-85 {
        width: 85%;
      }
    }
  }

  h2 {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .fluid {
    text-align: right;
  }
}
