.page--homepage {

  .mainContent {
    display: none;
  }

  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height:100vh;
    background-image: url('/screensaver/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b1b1b1;
    z-index:9;
  }

  nav {
    position:fixed;
    top: 30vh;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14pt;
    background-color: whitesmoke;
    padding: 20px;
    z-index: 5;

    span {
      margin:0 10px;

      &:hover {
        border-bottom: 1px solid $blue;
      }

      &.active {
        color: $blue;
        border-bottom: 1px solid $blue;
      }
    }
  }

  .widgets {
    position: fixed;
    top: 30vh;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    margin-top: 62px;
  }

  .feeds {
    position: fixed;
    top: 30vh;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    margin-top: 62px;
    display: none;
  }

}
