.iframe-nolink {
  margin:0;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:25px;
  background: linear-gradient(180deg, #f7f7f7, 40%, #ec483d 100%);
  background-attachment: fixed;
}
