.error403, .register {
  .header {
    height: 80px;
    background-image: url("/images/FeedNews-Logo.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    margin-bottom: 10px;

    h1 {
      color: $blue;
      padding: 20px 0 0 100px;
    }
  }

  .createAccount {
    margin-left: 20px;
  }

}
