.screensaver {
  color: white;
  background-color: black;
  text-shadow: 1px 1px #000;

  &--time {
    position: fixed;
    right: 30px;
    bottom: 40px;
    font-size: 72pt;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 90px;
    padding: 14px 25px;
  }

  &--background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    image-orientation: from-image;
  }
  .layer2 {
    z-index: -2;
  }
  .weather {
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 28pt;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    padding: 20px;
  }
  .weather .weather--temperature {
    position: fixed;
    top: 40px;
    right: 40px;
    font-size: 36pt;
    margin: 0;
    border-bottom: 0;
    width: auto;
    padding-bottom: 0;
  }
  &--newsticker {
    position: fixed;
    bottom: 15px;
    left: 25px;
    right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 170px;

    &-title {
      font-family: "Lato", "Helvetica Neue", "Arial", sans-serif;
      font-weight: 300;
      font-size: 48pt;
      padding: 20px 0 25px 30px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 400px;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 90px;

      span {
        display: block;
        font-size: 14pt;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 20px;
      }
    }
    &-source {
      color: white;
      padding: 5px 10px;
      display: inline-block;
      position: fixed;
      bottom: 165px;
      font-size: 16pt;
      margin-left: 30px;
      border-radius: 35px;
    }
  }
  .hideOnStart {
    display: none;
  }
}
