.page--homepage {

  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height:100vh;
    background-image: url('/screensaver/images/Welcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index:9;
  }

  .widgets {
    position: fixed;
    top: 400px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
  }

  &-background {

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    z-index: -2;
  }

  &-background--overlay {
    background-color: rgba(256, 256, 256, 0.6);
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
