<form class="js-form-feed modal">
    <h2>Add item</h2>
    <table width="100%">
        <tr>
            <td>Url:</td>
            <td>
                <input type="text" name="url" value="" class="w-85" />
                <button type="button" class="smallButton js-button-parse-url fluent-blue">Auto</button>
            </td>
        </tr>
        <tr>
            <td>Title:</td>
            <td><input type="text" name="title" value="" /></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><textarea name="description"></textarea></td>
        </tr>
        <tr>
            <td colspan="2" class="fluid">
                <button type="button" class="fluent-blue">Add</button>
            </td>
        </tr>
    </table>
</form>
