{% set isAdmin = is_granted('ROLE_ADMIN') %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}FeedNews{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('build/css/css-app.css') }}">
    {% block header %}{% endblock %}
</head>
<body class="{{ bodyClass }}" data-refresh-date="{{ "now"|date('Y-m-d H:i:s') }}">
{% block body %}
{% endblock %}
{% block javascripts %}{% endblock %}
<script src="{{ asset('build/js/js-app.js') }}"></script>
</body>
</html>
