{% extends 'base.html.twig' %}

{% block header %}
    <title>FeedNews.me | Read the news at a glance &amp; run it as screensaver / iOS App</title>
{% endblock %}

{% block body %}
    <div class="guestsWelcomePage">

        <div class="content">

            <h1>Feednews.me</h1>
            <p>Access to Feednews.me is currently restricted to the web developer itself and is not available
                to public just yet.</p>

            <p><b>Feednews.me</b> will become a central place to check in on news that you follow. By gathering
                RSS feeds from your favorite website's, you can become up-to-date about all your website's in a
                glance. It also supports running the site as an App on iOS, or as screensaver for MacOS, Windows and
                Linux.
            </p>

            <p>We are currently preparing the site for the public. So please stay tuned for updates when we near or
                finishing goals. In case you are interested, leave us a message at <span class="specialTxt"></span>
                to gain early access.</p>

            <p>In case you would like to leave a complaint about the way we fetch our data, please use the email
                mentioned above to contact the developer to have the problem solved. We never intend to use the data
                for commercial usage. Just a tool for webgeeks to use.
            </p>

            <p><b>Are you a developer?</b><br /><a href="https://github.com/webstylecenter/Homepage" target="_blank">
                    Download the repo from GitHub</a></p>

        </div>
    </div>
{% endblock %}
