{% extends 'base.html.twig' %}

{% block header %}
    <title>FeedNews.me | Read the news at a glance &amp; run it as screensaver / iOS App</title>
{% endblock %}

{% block body %}
    <div class="guestsWelcomePage">

        <div class="content">

            <h1>Feednews.me</h1>

            <p>Sign in below to access Feednews.me</p>

            <div class="signinBox">
                <form method="post">
                    <label for="username">Username:</label><input type="text" name="username" id="username" />
                    <label for="password">Password:</label><input type="password" name="password" id="password" />
                    <input type="submit" value="Login" />
                </form>
            </div>

            <p>Don't have an account? <br />Or want to know more about Feednews.me? <br />
                Find my repo at <a href="https://github.com/webstylecenter/Homepage" target="_blank">GitHub</a></p>

            <p>For questions, send me a message at  <span class="specialTxt"></span></p>

        </div>
    </div>
{% endblock %}
