{% extends "base.html.twig" %}

{% block title %}Checklist{% endblock %}

{% block header %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/mobile.css?v={{ lastUpdate.css_mobile }}">
    <script src="/assets/scripts/hammer.min.js"></script>
    <script src="/assets/scripts/jquery.hammer.js"></script>
    <script src='/assets/scripts/mobile.js?v={{ lastUpdate.js_mobile }}'></script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/iphone-checklist-icon.png">
{% endblock %}

{% block body %}
    <div class="checklistContent">

        <div class="checklistAdder">
            <input type="text" name="item" /> <input type="button" value="Add" />
        </div>

        <div class="checklists">
            {% include 'checklist/checklist.html.twig' with {'todos': todos, 'finished': finished} %}
        </div>

    </div>
{% endblock %}
