{% extends "base.html.twig" %}

{% block title %}Checklist{% endblock %}

{% block header %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
    <div class="checklist--parent">
        {% include 'checklist/widget.html.twig' with {'finished': finished, 'todos': todos} %}
    </div>
{% endblock %}
