<div class="checklist">

    <div class="checklist--form">
        <input type="text" name="item" placeholder="Add item to list" /> <input type="button" value="Add" />
    </div>

    <div class="checklist--list">
        {% include 'checklist/checklist.html.twig' with {'todos': todos, 'finished': finished is defined ? finished : []} %}
    </div>
</div>
