<div class="checklistContent">

    <div class="checklistAdder">
        <input type="text" name="item" placeholder="Add item to list" /> <input type="button" value="Add" />
    </div>

    <div class="checklists">
        {% include 'checklist/checklist.html.twig' with {'todos': todos, 'finished': []} %}
    </div>

</div>
