{% extends "base.html.twig" %}

{% block title %}Homepage for Mobile{% endblock %}

{% block header %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/mobile.css">
    <script src="/assets/scripts/hammer.min.js"></script>
    <script src="/assets/scripts/jquery.hammer.js"></script>
    <script src='/assets/scripts/mobile.js'></script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/iphone-icon.png">
{% endblock %}

{% block body %}
    <div class="topbar">
        <div class="title noselect"><a href="#">Peter van Dam's Homepage</a></div>
        <div class="backButton noselect">&lt; Back</div>
        <div class="navbar"><a href="#" class="pageLinkToUrl" target="_blank"></a></div>
        <div class="shareButton"></div>
        <div class="createButton"></div>
    </div>

    <div class="mainContent">
        {% block content %}
        {% endblock %}

        <div class="noselect">
            {% include 'home/newsfeed.html.twig' with {'feedItems': feedItems} %}
        </div>

        <div class="contentContainer">
            <iframe src="" sandbox="allow-scripts allow-same-origin allow-forms allow-popups
        allow-pointer-lock"></iframe>
        </div>
    </div>

    {% include 'modals/create.html.twig' %}
{% endblock %}
