{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Read and manage News, Todo's and notes cross-platform
{% endblock %}

{% block body %}
    <div class="infoBlock">
        <div class="contentbox">
            <img src="/images/FeedNewsPreview.png" alt="FeedNews preview" />
            <p>Create an account (soon available) or <a href="http://demo.feednews.me/" target="_blank" title="FeedNews Demo site">play with the demo</a><br />
                Contribute at <a href="https://github.com/webstylecenter/Homepage" target="_blank">GitHub</a></p>
        </div>
    </div>
    <div class="loginBlock">
        <div class="contentbox">

            <div class="header">
                <h1>Feednews.me</h1>
            </div>
            <p>Please sign in below</p>

            <div class="signinBox">
                <form method="post">
                    <input type="text" name="username" id="username" />
                    <input type="password" name="password" id="password" />
                    <input type="submit" value="Login" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
