{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Register
{% endblock %}

{% block body %}
    <div class="register">
        <div class="contentbox">
            <div class="header">
                <h1>Feednews.me</h1>
            </div>
            <p>Fill in the form below to register for a FeedNews.me account</p>

            <div class="registerBox">
                <form method="post">
                    <input type="text" name="username" id="username" placeholder="username" />
                    <input type="text" name="email" placeholder="Email address" />
                    <input type="password" name="password" id="password" placeholder="password" />

                    <input type="checkbox" value="on" name="gdpr" id="gdpr" /><label for="gdpr">I agree that the above filled in data will be stored on Feednews servers for login purposes.</label><br />&nbsp;<br />
                    <input type="submit" value="Create account" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
